@{
    ViewBag.Title = "Home Page";
    var random = new Random(ViewBag.Id);
    var words = new[] { "account","airfare","approval","audit","big picture","business","cash flow","charge","compliance","credit","debt","dollar","easy","economy","enforcement","expense","finance","fiscal","form","income","inflation","insight","interest","ledger","market","mileage","mobile","per diem","policy","price","productivity","profit","receipt","recession","reconcile","reimburse","report","review","routing","savings","seamless","smart","spend","statement","support","time","tracking","training","travel","violation","workflow" };
    var mixed = words.OrderBy(s => random.Next()).ToArray();
    mixed[12] = "Certify!";
}

<table class="bingo-table">
    <tr class="bingo-header">
        <th>S</th>
        <th>P</th>
        <th>E</th>
        <th>N</th>
        <th>D</th>
    </tr>
    @for (int i = 0; i < 5; i++)
    {
        <tr class="bingo-row">
        @foreach (var word in mixed.Skip(i * 5).Take(5))
        { 
            <td class="bingo-cell">@word</td>
        }
        </tr>
    }
</table>

<div style="width: 100%;margin-left: auto;margin-right: auto;text-align: center;">
    <a href="/Home/Index">Get a new card</a>
</div>

<script type="text/javascript">
    $(".bingo-cell").click(function () {
        $(this).toggleClass("bingo-selected");
    });
</script>
